# ---- App ----
SPRING_PROFILES_ACTIVE=

# ---- Database ----
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# ---- External Services ----
EXTERNAL_DRIVER_SERVICE_BASE_URL=